<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="Tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
>
	<testsuites>
		<testsuite name="Unit">
			<directory suffix="Test.php">./Tests/Unit</directory>
		</testsuite>
		<testsuite name="Integration">
			<directory suffix="Test.php">./Tests/Integration</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./</directory>
			<exclude>
				<directory>./Tests</directory>
				<directory>./vendor</directory>
				<directory>./assets</directory>
				<directory>./docs</directory>
			</exclude>
		</whitelist>
	</filter>

	<php>
		<const name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="./vendor/yoast/phpunit-polyfills"/>
	</php>
</phpunit>
