includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 6
	paths:
		- .
	excludePaths:
		- vendor
		- Tests
		- bin
		- docs
	bootstrapFiles:
		- phpstan-bootstrap.php
		- Tests/phpstan/stubs-wp7.php
rules:
	- Sybgo\Tests\phpstan\Rules\DiscourageApplyFilters
