includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 6
	paths:
		- .
	excludePaths:
		- vendor
		- Tests
		- bin
		- docs
	bootstrapFiles:
		- phpstan-bootstrap.php
	ignoreErrors:
		- identifier: property.onlyWritten

rules:
	- Sybgo\Tests\phpstan\Rules\DiscourageApplyFilters
