<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="Tests/bootstrap-unit.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
>
	<testsuites>
		<testsuite name="Unit">
			<directory suffix="Test.php">./Tests/Unit</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./admin</directory>
			<file>./class-sybgo.php</file>
		</whitelist>
	</filter>

	<php>
		<const name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="./vendor/yoast/phpunit-polyfills"/>
	</php>
</phpunit>
