name: CI

on:
  pull_request:

jobs:
  phpcs:
    name: Coding Standards
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
          tools: cs2pr

      - name: Install dependencies
        uses: ramsey/composer-install@v3

      - name: Run PHPCS
        run: composer phpcs

  phpunit:
    name: Tests (PHP ${{ matrix.php }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: ['7.4', '8.0', '8.1']

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: wordpress_test
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mysqli
          coverage: none

      - name: Install dependencies
        uses: ramsey/composer-install@v3

      - name: Install WordPress test suite
        run: bash bin/install-wp-tests.sh wordpress_test root '' 127.0.0.1 latest
        env:
          WP_TESTS_DIR: /tmp/wordpress-tests-lib

      - name: Run tests
        run: composer run-tests
        env:
          WP_TESTS_DIR: /tmp/wordpress-tests-lib
