name: PHPCS

on:
    pull_request:

jobs:
    run:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php-versions: ['7.4']
        name: PHPCS with PHP ${{ matrix.php-versions }}
        steps:
            -   uses: actions/checkout@v2

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-versions }}
                    coverage: none
                    extensions: zip, mysqli
                    tools: composer:v2

            -   name: Validate composer.json and composer.lock
                run: composer validate

            -   name: Install dependencies
                run: composer install --prefer-dist --no-progress --no-suggest

            -   name: Run php linter
                run: composer phpcs
